body {
    margin: 0;
    padding: 0;
    background-image: url(/IMGS/bg.jpeg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    font-family:'Times New Roman', Times, serif;
}
.nav-container {
    position: absolute;
    right: 50px;
    top: 3%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}
.nav-container a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.myLogo {
    background-color: white;
    padding: 10% 50px 273px 50px;
    width: 300px;
}
@media screen and (max-width: 1279.20px) {
    body {
        background-size: cover;
        background-attachment: fixed;
    }
    .myLogo {
        display: none;
    }
}